<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyBackendDeveloperInternChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Item Index", "/items" %>
    <%= link_to "New Item", "/items/new" %>
    <%= link_to "Wearhouse Index", "/wearhouses" %>
    <%= link_to 'New Wearhouse', "/wearhouses/new" %>
    <%= yield %>
  </body>
</html>
